<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src = "{{ url_for('static', filename = 'js/script.js') }}" ></script>
</head> 
</head>
<body>
    <h1>Flask AJAX Assignment</h1>
    
    
    

        <form>
            
            <input type="text" name="url" id="url" placeholder="http://www....">
            <button style="background-color:blue; color: rgb(249, 249, 249); border-radius: 5px;">Fetch</button>
    
        </form>


    <div id="form1">



    </div>
    
</body>
</html>